# 1. Ignore everything by default
**

# 2. Re-include the few top-level files and dirs we need
!Dockerfile
!requirements.txt
!app.py

# 3. Re-include the app model code
!sologpt_v1/
!sologpt_v1/__init__.py
!sologpt_v1/config.json
!sologpt_v1/generate.py
!sologpt_v1/model.py

!outputs/
!outputs/finetuned_sologpt_combined_best.pth
!outputs/pytorch_model.bin
!outputs/pytorch_model.pth
!outputs/pytorch_model.safetensors

!assets/
!assets/soloLLM2.png
!assets/soloLLM.png


# 6. Exclude all other heavyweight folders and extensions
train/
data/

models/checkpoints/
.kaggle/
*.pt
