# Ignore checkpoints
checkpoints/
outputs/

# Ignore Data
data/

# PyTorch
*.pth
*.pt
*.bin
*.safetensors

# Cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Training logs
*.log
*.jsonl
run_meta_*.json
training_summary_*.json
loss_curve_*.json
